// style for card holder
// style the thumbnail of card
.card-holder {
    margin-top: $base-margin * 0.7;

    .card-img-holder {
        width: 100%;
        height: 150px;
        height: auto;
        position: relative;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .card-duration {
            position: absolute;
            bottom: 5%;
            right: 5%;
            color: $light-secondary-color;
            background-color: black;
            padding: 1px 4px;
            font-size: $font-size-md * 0.75;
            font-weight: bolder;
        }
    }
    // style the title, profile img and kebaab menu
    .card-header-holder {
        @include flex-items(space-between, flex-start);
        margin-top: $base-margin * 0.5;
        gap: $base-margin;
        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
        .title {
            h3 {
                font-size: $font-size-md * 0.875;
            }
            p {
                font-size: $font-size-md * 0.75;
                margin-top: $base-margin * 0.3;
            }
        }
    }
}
