// style for category items
.cat-items-holder {
    padding: $base-padding * 0.4 $base-padding * 0.7;
    border-radius: $base-radius;
    border: 1px solid $lighter-fade;
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: $base-padding * 0.7;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    &.dark-theme {
        background-color: $dark-fade-color;
        color: $light-primary-color;
        border-color: $lowest-light;
    }
}
