// add padding on left and right of the element

.container {
    display: block;
    width: 100%;
    padding: 0 $base-padding * 0.5;
    margin: 0 auto;
}

// increase the size of left and right paading on bigger screen size

@include breakpoint("xl") {
    .container {
        padding: 0 $base-padding * 2;
    }
}
