// style for content holder
.content-holder {
    padding-top: $base-padding * 5.5;
    padding-bottom: $base-padding * 5;
    height: auto;
    background-color: $extra-light-fade;

    &.dark-theme {
        background-color: $dark-secondary-color;
        color: $light-primary-color;
    }
}

@include breakpoint("md") {
    .content-holder {
        width: 100%;
        // height: 100%;
        .content-items-holder {
            display: grid;
            grid-template-columns: repeat(auto-fit, 49%);
            justify-content: center;
            align-items: center;
            gap: $base-margin * 0.5;
        }
    }
}

@include breakpoint("md") {
    .content-holder {
        padding-top: $base-padding * 7;
    }
}

@include breakpoint("lg") {
    .content-holder {
        padding-top: $base-padding * 8;
    }
}

@include breakpoint("xl") {
    .content-holder {
        width: 94%;
        height: 100vh;
        overflow: scroll;
        padding-top: $base-padding * 5.5;

        &.active {
            width: 83%;
        }
        .content-items-holder {
            display: grid;
            grid-template-columns: repeat(auto-fill, 23%);
            justify-content: center;
            align-items: flex-start;
            gap: $base-margin * 1.1;
            margin: $base-margin * 1.8 $base-margin * 0.9;
            margin-left: 0;
        }
    }
}

@include breakpoint("xxl") {
    .content-holder {
        padding-top: $base-padding * 8;
    }
}

@include bp(1700px) {
    .content-holder {
        padding-top: $base-padding * 9;
    }
}
