@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
}

.container {
  display: block;
  width: 100%;
  max-width: 1500px;
  padding: 0 0.5rem;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .container {
    padding: 0 2rem;
  }
}

.home .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home .category-bar-container {
  width: 100%;
  background-color: #f2f2f2;
  z-index: 1;
  position: fixed;
  top: 8vh;
  left: 0%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home .category-bar-container.hide-bar {
  top: -20%;
}

.home .category-bar-container#move-category-bar {
  left: 17%;
}

@media screen and (min-width: 960px) {
  .home .category-bar-container {
    border-top: 1px solid #d9d9d9;
    top: 8vh;
    left: 6%;
    -webkit-transition: none;
    transition: none;
  }
  .home .category-bar-container.hide-bar {
    top: 8vh;
  }
  .home .category-bar-container.dark-theme {
    border-top-color: #434242;
  }
}

.nav {
  position: fixed;
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #f2f2f2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav.hide-nav {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  top: -20%;
}

.nav .nav-holder {
  height: 100%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  -webkit-box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.4);
          box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.4);
}

.nav .nav-holder.dark-theme {
  background-color: #212121;
}

@media screen and (min-width: 960px) {
  .nav {
    height: 8vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav.hide-nav {
    top: 0;
  }
  .nav .nav-holder {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.nav-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-logo-container .sidebar-items.ham {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-logo-container .sidebar-items.ham.dark-theme {
  color: #fafafa;
}

.nav-logo-container .nav-logo-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.nav-logo-container .nav-logo-holder .nav-logo-img {
  width: 33px;
  height: 40px;
  margin-right: 0.1rem;
}

.nav-logo-container .nav-logo-holder .nav-logo-img img {
  width: 100%;
  height: 100%;
}

.nav-logo-container .nav-logo-holder .nav-logo-text {
  font-size: 1.5rem;
  font-family: "Pathway Gothic One";
  font-weight: 700;
}

.nav-logo-container .nav-logo-holder .nav-logo-text.dark-theme {
  color: #fafafa;
}

@media screen and (min-width: 960px) {
  .nav-logo-holder {
    margin-left: 2.45rem;
  }
  .nav-logo-holder .nav-logo-img {
    margin-left: -0.4rem;
  }
}

.search-bar-holder .form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 40px;
}

.search-bar-holder .form-search .search-input-holder {
  width: 100%;
  height: 100%;
  position: relative;
}

.search-bar-holder .form-search .search-input-holder .search {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
  outline: none;
  padding-left: 9px;
  font-size: 1.05rem;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f9f9f9;
}

.search-bar-holder .form-search .search-input-holder .search.dark-theme {
  background-color: #171717;
  border-color: #434242;
}

.search-bar-holder .form-search .search-input-holder .search:focus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #0a76e9;
  border-left: none;
  padding-left: 10px;
  border-radius: 0;
}

.search-bar-holder .form-search .search-input-holder .search.dark-theme {
  color: #fafafa;
}

.search-bar-holder .form-search .search-input-holder .search.dark-theme::-webkit-search-cancel-button {
  background-color: red;
}

.search-bar-holder .form-search .search-input-holder .search-input-icon {
  position: absolute;
  top: 0;
  right: 100%;
  width: 35px;
  height: 100%;
  background-color: #f9f9f9;
  border: 1px solid #0a76e9;
  border-right: none;
  padding: 8px;
  padding-right: 0;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-bar-holder .form-search .search-input-holder .search-input-icon.dark-theme {
  background-color: #171717;
  color: #fafafa;
}

.search-bar-holder .form-search .search-icon-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0.2rem 0.7rem;
  font-size: 1.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #f9f9f9;
  border: 1px solid #d9d9d9;
  border-left: none;
  cursor: pointer;
}

.search-bar-holder .form-search .search-icon-holder.dark-theme {
  background-color: #434242;
  color: #fafafa;
  border-color: #434242;
}

.search-bar-holder .form-search .mic-icon-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 40px;
  border-radius: 100%;
  background-color: #d9d9d9;
  margin-left: 0.5rem;
  cursor: pointer;
}

.search-bar-holder .form-search .mic-icon-holder.dark-theme {
  background-color: #171717;
  color: #fafafa;
}

.nav-content-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-content-holder .nav-items-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-content-holder .nav-items-holder .nav-icon {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-right: 0.5rem;
  cursor: pointer;
}

.nav-content-holder .nav-items-holder .nav-icon.dark-theme {
  color: #fafafa;
}

.nav-content-holder .nav-profile-holder {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-content-holder .nav-profile-holder img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media screen and (min-width: 960px) {
  .nav-content-holder .nav-items-holder .nav-icon {
    margin-right: 1.5rem;
  }
  .nav-content-holder .nav-items-holder .nav-icon.grid-menu {
    font-size: 1.35rem;
  }
  .nav-content-holder .nav-profile-holder {
    width: 35px;
    height: 35px;
  }
}

.category-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  border-bottom: 1px solid #d9d9d9;
  font-size: 0.875rem;
  padding: 0.6rem 0;
  position: relative;
  background-color: #f2f2f2;
}

.category-holder.dark-theme {
  background-color: #212121;
  border-color: #434242;
}

.category-holder .arrow-container {
  position: absolute;
  right: 0%;
  top: 50%;
  height: 100%;
  width: 90px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: -webkit-gradient(linear, right top, left top, color-stop(65%, white), color-stop(85%, rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to left, white 65%, rgba(255, 255, 255, 0.7) 85%, rgba(255, 255, 255, 0.2) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-holder .arrow-container.dark-theme {
  background: -webkit-gradient(linear, right top, left top, color-stop(65%, rgba(0, 0, 0, 0.9)), color-stop(85%, rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.9) 65%, rgba(0, 0, 0, 0.7) 85%, rgba(0, 0, 0, 0.2) 100%);
  color: #fafafa;
}

.category-holder .arrow-container .arrow {
  font-size: 1.5rem;
  cursor: pointer;
}

.category-holder .arrow-container.left {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(65%, white), color-stop(85%, rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right, white 65%, rgba(255, 255, 255, 0.7) 85%, rgba(255, 255, 255, 0.2) 100%);
}

.category-holder .arrow-container.left.dark-theme {
  background: -webkit-gradient(linear, right top, left top, color-stop(65%, rgba(0, 0, 0, 0.2)), color-stop(85%, rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0.7) 85%, rgba(0, 0, 0, 0.9) 100%);
  color: #fafafa;
}

.category-holder .cat-explore-holder .explore-container {
  padding: 0 1rem;
  border-right: 1px solid #d9d9d9;
}

.category-holder .cat-explore-holder .explore-container .cat-explore-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem 0.5rem;
  background: #d9d9d9;
}

.category-holder .cat-explore-holder .explore-container .cat-explore-title.dark-title {
  background-color: #333333;
  color: #fafafa;
}

.category-holder .cat-explore-holder .explore-container .cat-explore-title .cat-explore-logo {
  font-size: 1.35rem;
  margin-right: 0.3rem;
}

.category-holder .category-list-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
  overflow-x: scroll;
  width: 100%;
}

.category-holder .category-list-holder::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 960px) {
  .category-holder {
    width: 94%;
  }
  .category-holder.active {
    width: 83%;
  }
}

.cat-items-holder {
  display: inline-block;
  padding: 0.4rem 0.7rem;
  border-radius: 1rem;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.cat-items-holder.dark-theme {
  background-color: #333333;
  color: #fafafa;
  border-color: #434242;
}

.content-holder {
  padding-top: 5.5rem;
  padding-bottom: 5rem;
  height: auto;
  background-color: #f9f9f9;
}

.content-holder.dark-theme {
  background-color: #171717;
  color: #fafafa;
}

@media screen and (min-width: 710px) {
  .content-holder {
    width: 100%;
  }
  .content-holder .content-items-holder {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (49%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 49%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 960px) {
  .content-holder {
    width: 94%;
    height: 100vh;
    overflow: scroll;
  }
  .content-holder.active {
    width: 83%;
  }
  .content-holder .content-items-holder {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (23%)[auto-fill];
        grid-template-columns: repeat(auto-fill, 23%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.1rem;
    margin: 1.8rem 0.9rem;
    margin-left: 0;
  }
}

.card-holder {
  margin-top: 0.7rem;
}

.card-holder .card-img-holder {
  width: 100%;
  height: 150px;
  height: auto;
  position: relative;
  cursor: pointer;
}

.card-holder .card-img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-holder .card-img-holder .card-duration {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  background-color: black;
  padding: 1px 4px;
  font-size: 0.75rem;
  font-weight: bolder;
}

.card-holder .card-header-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0.5rem;
  gap: 1rem;
}

.card-holder .card-header-holder img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.card-holder .card-header-holder .title h3 {
  font-size: 0.875rem;
}

.card-holder .card-header-holder .title p {
  font-size: 0.75rem;
  margin-top: 0.3rem;
}

.footer-holder {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 0.7rem 0;
  border-top: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-holder.dark-theme {
  background-color: #212121;
  color: #fafafa;
}

.footer-holder .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-holder .footer-items .footer-icons {
  font-size: 1.4rem;
}

.footer-holder .footer-items p {
  font-size: 0.688rem;
}

.sidebar-container {
  width: 6%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-container.show-full-sidebar {
  width: 17%;
}

.sidebar-container .sidebar-items-container {
  background-color: #f2f2f2;
  width: inherit;
  height: auto;
  position: fixed;
  top: 8vh;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
}

.sidebar-container .sidebar-items-container.active {
  padding-right: 0.8rem;
}

.sidebar-container .sidebar-items-container.dark-theme {
  background-color: #212121;
  color: #fafafa;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder {
  padding: 0.5rem 0;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder.additional {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder.additional.dark-theme {
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder.last-items {
  border-bottom: 1px solid #d9d9d9;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder.last-items.dark-theme {
  border-bottom-color: #333333;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items .sidebar-icons {
  width: 54px;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items:hover {
  background-color: #d9d9d9;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items.dark-theme:hover {
  background-color: #434242;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items.show-full-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items.show-full-sidebar p {
  font-size: 0.8rem;
  margin-left: 1.5rem;
  margin-bottom: 0.4rem;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items.show-full-sidebar.footer-items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items.show-full-sidebar.footer-items:hover {
  background-color: #f2f2f2;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items.show-full-sidebar.footer-items.dark-theme:hover {
  background-color: #212121;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items.show-full-sidebar.footer-items .footer-items-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  margin-left: 1rem;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items.show-full-sidebar.footer-items .footer-items-links a {
  font-weight: 700;
  font-size: 0.8rem;
  color: #171717;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items.show-full-sidebar.footer-items .footer-items-links.dark-theme a {
  color: #b3b3b3;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items .sidebar-icons {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.sidebar-container .sidebar-items-container .sidebar-items-holder .sidebar-items p {
  font-size: 0.65rem;
}
/*# sourceMappingURL=index.css.map */